################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Modul_5/App_Task_5.5.3/Task_5.5.3/obj/Debug/netcoreapp2.0
