################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Modul_5/Task_5.6/ConsoleApp5.6/.vs/ConsoleApp5.6
